//Designing webpage based on screensize
//Widescreens
@mixin mediaXL{
    //only applies when screen is 1171px or more
    @media screen and (max-width: 1171px){
        //content from mobile.scss
        @content;
    }
}
//Laptops
@mixin mediaLg{ 
    //only applies when screen is within 769px and 1170px
    @media screen and (max-width: 769px) and (max-width: 1170px){
        @content;
    }
}
//Tablets
@mixin mediaMd{
    //only applies when screen is within 500px and 768px
    @media screen and (max-width: 768px){
        main{
            align-items: center;
            text-align: center;

            .heading-1{
                line-height: 1;
                margin-bottom: 1rem;
            }
        }

        ul.menu-nav, div.menu-branding{
            float: none;
            width: 100%;
            min-height: 0;
        }

        .menu-nav{
            height: 75vh;
            transform: translate3d(-100, 0, 0);
            font-size: 24px;
        }

        .menu-branding{
            height: 25vh;
            .portrait{
                background: url('../img/IMG_5921.jpg');
                width: 150px;
                height: 150px;
            }
        }

        .about-info{
            grid-template-areas: 
            'bio'
            'block1'
            'block2'
            'block3';
            grid-template-columns: 1fr;
        }
    }
}
//Mobiles
@mixin mediaSm{
    //only applies when screen is 500px or less
    @media screen and (max-width: 500px){
        main#home h1{
            margin-top: 10vh;
        }

        .about-info{
            grid-template-areas: 
            'bio'
            'block1'
            'block2'
            'block3';
            grid-template-columns: 1fr;
        }
    }
}